// HERO

.hero {
  	position: relative;
	min-height: 100vh;
	@include adaptiveValue('margin-bottom', 104, 40);

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__container {
		max-width: 1440px;
		padding: 0 15px;
		margin: 0 auto;
		align-content: center;
		height: 100vh;
	}

	&__body {
		display: flex;
		flex-direction: column;
		@include adaptiveValue('gap', 38, 20);
		position: relative;
		align-items: center;
		text-align: center;
	}

	&__title {
		@include adaptiveValue('font-size', 60, 32);
		font-weight: 700;
		line-height: 1.2;
		font-family: $montserratFontFamily;
		text-transform: uppercase;
	}

	&__subtitle {
		@include adaptiveValue('font-size', 24, 16);
		line-height: 1.34;
		letter-spacing: 3.6px;
		font-family: $montserratFontFamily;
	}

	&__cta {
		display: flex;
		@include adaptiveValue('gap', 32, 24);
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		flex-wrap: wrap;
	}
	
	.cta {
		@include adaptiveValue('padding-top', 19, 10);

		&__learn {
			padding: 14px 26px;
			@include adaptiveValue('font-size', 12, 10);
			line-height: 1.16;
			letter-spacing: 1.8px;
			border: 1px solid #FFF;
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: #FFF;
				color: #E74C3C;
				border: 1px solid #E74C3C;
			}
		}

		&__buy {
			padding: 14px 32px;
			@include adaptiveValue('font-size', 12, 10);
			line-height: 1.16;
			letter-spacing: 1.8px;
			border: 1px solid #E74C3C;
			background-color: #E74C3C;
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: #FFF;
				color: #E74C3C;
			}
		}
	}
}

// HISTORY

.history {
	@include adaptiveValue('margin-bottom', 104, 40);

	&__container {
		max-width: 1290px;
		padding: 0 25px;
		margin: 0 auto;
	}

	&__headline {
		max-width: 874px;
		margin-inline: auto;
		text-align: center;
		color: #666;
		@include adaptiveValue('margin-bottom', 54, 20);
	}

	&__title {
		@include adaptiveValue('margin-bottom', 54, 20);
	}

	&__subtitle {
		text-align: center;
		line-height: 1.69;
		@include adaptiveValue('font-size', 16, 14);
	}

	&__images {
		display: grid;
		justify-content: space-between;
		grid-template-columns: 24% 48% 24%;
		@include adaptiveValue('gap', 20, 10);
		align-items: end;
		@media (max-width: 678px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
		}
	}

	.images-list {
		@include adaptiveValue('margin-bottom', 54, 30);	

		&__item {
			@media (max-width: 678px) {
			max-width: 570px;
			}
		}

		&__item:nth-child(2) {
			order: -1;
		}

		&__item--small {
			@media (max-width: 678px) {
			max-width: 47%;
			}
			@media (max-width: 390px) {
			max-width: 46%;
			}
		}

		&__pic {
			@extend %img;
		}
	}

	.list-history {
		display: flex;
		justify-content: space-between;
		@include adaptiveValue('gap', 60, 20);
		flex-wrap: wrap;
		@media (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
		}
	}

	.item-history {
		display: flex;
		flex-grow: 1;
		flex-basis: 30%;
		@include adaptiveValue('gap', 40, 15);
		&:nth-child(2) .item-history__icon {
			background-color: #E74C3C;
		}

		&__icon {
			flex-shrink: 0;
			@include adaptiveValue('width', 60, 40);
			@include adaptiveValue('height', 60, 40);
			border: 1px solid #E74C3C;;
			border-radius: 50%;
			align-content: center;
			text-align: center;
		}

		&__title {
			color: #2A2A2A;
			@include adaptiveValue('font-size', 14, 12);
			font-weight: 700;
			line-height: 1.21;
			margin-block-end: 12px;
		}

		&__text {
			color: #8F8F8F;
			@include adaptiveValue('font-size', 14, 12);
			line-height: 1.72;
		}
	}
}

// ADVERTIZING 

.advertizing {
	width: 100%;
	position: relative;
	@include adaptiveValue('margin-bottom', 108, 40);
	min-height: 450px;
	align-content: center;

		&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		}

		&__black-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 1;
		}

		&__headline {
			position: relative;
			z-index: 2;
			max-width: 698px;
			margin: 0 auto;
			text-align: center;
			padding: 0 15px;
		}

		&__title {
			color: #FFF;
			text-align: center;
			font-family: $montserratFontFamily;
			@include adaptiveValue('font-size', 32, 24);
			font-weight: 700;
			line-height: 1.68;
			@include adaptiveValue('margin-bottom', 40, 25);
			&::before {
				content: none;
			}
		}

		&__button {
			position: relative;
			padding: 12px 34px;
			border: 1px solid #FFF;
			color: #FFF;
			font-family: $montserratFontFamily;
			font-size: 12px;
			font-weight: 700;
			line-height: 1.34;
			transition: all 0.3s ease-in-out;
			&:hover {
				background-color: #FFF;
				color: #E74C3C;
				border: 1px solid #E74C3C;
			}
		}
}

// TEAM

.team {
	@include adaptiveValue('margin-bottom', 104, 40);

	&__container {
		max-width: 1190px;
		padding-inline: 15px;
		margin-inline: auto;
	}

	&__headline {
		max-width: 832px;
		text-align: center;
		margin-inline: auto;
		@include adaptiveValue('margin-bottom', 72, 30);
	}
	&__title {
		@include adaptiveValue('margin-bottom', 41, 20);
	}
	
	&__subtitle {
		color: #666;
		text-align: center;
		line-height: 1.68;
		@include adaptiveValue('font-size', 16, 14);
	}

	&__body {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: flex-start;
		gap: 26px;
	}
}

.card-team {
	position: relative;
	text-align: center;
	width: 270px;
	&:hover .card-team__bg {
		opacity: 0.6;
	}

	&__img {
		width: 100%;
		@include adaptiveValue('margin-bottom', 31, 20);
	}

	&__pic {
		@extend %img;
	}

	&__name {
		margin-bottom: 10px;
		color: #2A2A2A;
		font-size: 14px;
		font-weight: 700;
		line-height: 1.22;
	}

	&__position {
		color: #8F8F8F;
		font-size: 11px;
		font-weight: 700;
		line-height: 1.18;
	}

	&__bg {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(231, 76, 60);
		z-index: 2;
		opacity: 0;
		transition: all 0.3s ease-in-out;
	}

	&__socials {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 17px;
	}

	&__social-item {
		width: 20px;
		height: 20px;
	}

	&__icon-social {
		@extend %img;
	}
}

// TESTIMONIALS

.testimonials {
	width: 100%;
	position: relative;
	@include adaptiveValue('padding-top', 106, 60);
	@include adaptiveValue('padding-bottom', 198, 120);
	text-align: center;
	@include adaptiveValue('margin-bottom', 142, 40);

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-position: 0 0;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__container {
		position: relative;
	}
	
	&__title {
		color: #FFF;
		@include adaptiveValue('margin-bottom', 80, 50);
	}

	&__wrapper {
		padding-bottom: 55px;
	}

	&__item {
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;	
		margin: 0 auto;
		overflow: hidden;
		padding-inline: 15px;
		cursor: grab;
	}
}

.item-testimonial {

	&__img {
		width: 80px;
		height: 80px;
		flex-shrink: 0;
		border-radius: 80px;
		overflow: hidden;
		@include adaptiveValue('margin-bottom', 33, 20);
	}

	&__pic {
		@extend %img;
		border-radius: 80px;
	}

	&__text {
		max-width: 594px;
		@include adaptiveValue('margin-bottom', 18, 14);
		color: #FFF;
		font-size: 14px;
		line-height: 1.22;
	}

	&__name {
		margin-bottom: 10px;
		line-height: 1.18;
	}

	&__position {
		line-height: 1.18;
		font-size: 11px;
	}
}

.swiper-pagination-horizontal
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

// WORKS

.works {
	@include adaptiveValue('margin-bottom', 80, 40);

	&__container {
		max-width: 1230px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__headline {
		@include adaptiveValue('margin-bottom', 74, 30);
		max-width: 791px;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		@include adaptiveValue('margin-bottom', 36, 24);
	}

	&__text {
		color: #000;
		line-height: 1.68;
		@include adaptiveValue('font-size', 16, 14);
	}
}

.tabs {

	&__navigation {
		display: flex;
		justify-content: center;@include adaptiveValue('gap', 67, 5);
		@include adaptiveValue('margin-bottom', 55, 25);
	}

	&__item {
		&.active .tabs__button {
			background-color: #E74C3C;
			color: #FFF;
		}
	}

	&__button {
		padding: 8px 10px;
		color: #000;
		text-align: center;
		@include adaptiveValue('font-size', 12, 11);
		font-weight: 700;
		line-height: 1.17;
	}

	&__body-element {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__item-element {
		flex: 0 1 25%;
		overflow: hidden;
	}

	&__img-element {
		@extend %img;
	}
}

// FEATURES

.features {
	background-color: rgba(247, 247, 247, 1);
	@include adaptiveValue('padding-block', 195, 40);
	position: relative;

	&__container {
		max-width: 1252px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__bg {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
		@media (max-width:576px) {
			display: none;;
		}
	}

	&__head {
		width: 100%;
		@media (max-width:576px) {
		width: 70%;
		position: relative;
		}
	}

	&__img-head {
		display: none;
		@media (max-width:576px) {
			position: absolute;
			right: 0;
			top: 0;
			width: 210px;
			aspect-ratio: 200 / 150;
			display: block;
			z-index: -1;
		}
		@media (max-width: 415px) {
			aspect-ratio: 200 / 165;
			right: -20px;
		}
	}

	&__body {
		position: relative;
		max-width: 55%;
		z-index: 2;
		@media (max-width:576px) {
			max-width: 100%;
		}
	}

	&__headline {
		@include adaptiveValue('margin-bottom', 64, 30);
		@media (max-width:576px) {
			display: flex;
			
		}
	}

	&__title {
		@include adaptiveValue('margin-bottom', 22, 14);
		&::before {
			display: none;
		}
	}

	&__subtitle {
		color: #000;
		font-size: 14px;
		line-height: 1.43;
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 22px;
		width: 93%;
		@media (max-width: 576px) {
			width: 100%;
		}
	}
}

.item-features {
	display: flex;
	flex-grow: 1;
	flex-basis: 30%;
	@include adaptiveValue('gap', 40, 15);
	&:nth-child(2) .item-features__icon {
		background-color: #E74C3C;
	}

	&__icon {
		flex-shrink: 0;
		@include adaptiveValue('width', 60, 40);
		@include adaptiveValue('height', 60, 40);
		border: 1px solid #E74C3C;;
		border-radius: 50%;
		align-content: center;
		text-align: center;
	}

	&__title {
		color: #2A2A2A;
		@include adaptiveValue('font-size', 14, 12);
		font-weight: 700;
		line-height: 1.21;
		margin-block-end: 12px;
	}

	&__text {
		// color: #8F8F8F;
		color: #000;
		@include adaptiveValue('font-size', 14, 12);
		line-height: 1.72;
	}
}

// PRICES

.prices {
	position: relative;
	@include adaptiveValue('padding-top', 113, 40);
	@include adaptiveValue('padding-bottom', 158, 50);

	&__bg {
		position: absolute;
		top: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	&__dark-bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-color: rgba(0, 0, 0, 0.4);
	}

	&__container {
		max-width: 1254px;
		padding: 0 15px;
		margin: 0 auto;
	}

	&__headline {
		max-width: 775px;
		margin: 0 auto;
		text-align: center;
		@include adaptiveValue('margin-bottom', 100, 40);
	}

	&__title {
		color: #FFF;
		@include adaptiveValue('margin-bottom', 40, 20);
	}

	&__text {
		color: #FFF;
		line-height: 1.68;
		@include adaptiveValue('font-size', 16, 14);
	}

	&__body {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 45px;
	}

	&__card {
		flex: 0 0 270px;
		width: 270px;
		text-align: center;
	}
}

.card-prices {

	&__name {
		background-color: #2A2A2A;
		color: #FFF;
		text-align: center;
		@include adaptiveValue('font-size', 18, 16);
		font-weight: 700;
		line-height: 1.22;
		@include adaptiveValue('padding-block', 20, 12);
		&--red {
			background-color: #E74C3C;
		}
	}

	&__body {
		background-color: #FFF;
		padding-top: 11px;
		@include adaptiveValue('padding-bottom', 26, 18);
	}

	&__money {
		margin-bottom: 7px;
		& span:first-child {
			position: relative;
			left: 0;
			top: -22px;
			color: #2A2A2A;
			font-size: 40px;
			line-height: 1.12;
		}
		& span:last-child {
			color: #000;
			font-size: 60px;
			line-height: 1.2;
		}
	}

	&__period {
		color: #8F8F8F;
		font-size: 12px;
		line-height: 1.16;
		@include adaptiveValue('margin-bottom', 30, 20);
	}

	&__list {
		@include adaptiveValue('margin-bottom', 30, 20);
	}

	&__item-list {
		& span {
			color: #8F8F8F;
			font-size: 13px;
			line-height: 1.84;
		}
		&:first-child {
			@include adaptiveValue('margin-bottom', 13, 10);
		}
		&:nth-child(2) {
			@include adaptiveValue('margin-bottom', 13, 10);
		}
		&:nth-child(3) {
			@include adaptiveValue('margin-bottom', 18, 14);
		}
		&:nth-child(4) {
			@include adaptiveValue('margin-bottom', 21, 16);
		}
		&:nth-child(5) {
			@include adaptiveValue('margin-bottom', 21, 16);
		}
	}

	&__link {
		background-color: #2A2A2A;
		padding: 10px;
		border: 1px solid #FFF;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: #E74C3C;
			background-color: #fff;
			border: 1px solid #E74C3C
		}
	}
}

// BLOG

.blog {
	background-color: #F7F7F7;
	@include adaptiveValue('padding-block', 130, 40);

	&__container {
		max-width: 1210px;
		padding-inline: 15px;
		margin-inline: auto;
	}

	&__headline {
		@include adaptiveValue('margin-bottom', 76, 30);
		text-align: center;
		max-width: 780px;
		margin-inline: auto;
	}

	&__title {
		@include adaptiveValue('margin-bottom', 45, 20);
	}

	&__subtitle {
		color: #000;
		line-height: 1.88;
	}

	&__body {
		@include adaptiveValue('padding-bottom', 95, 40);
	}
	
	&__slide {
		width: 100%;
		cursor: grab;
	}

	&__img-slide {
		width: 100%;
	}

	&__pic-slide {
		@extend %img;
	}

	&__info {
		position: relative;
		padding-top: 7px;
		padding-left: 125px;
	}

	&__title-info {
		color: #000;
		font-size: 18px;
		font-weight: 700;
		line-height: 1.33;
		margin-bottom: 8px;
	}

	&__subtitle-info {
		color: #000;
		font-size: 13px;
		line-height: 1.7;
	}

	&__calendar-info {
		position: absolute;
		bottom: 0;
		left: 12px;
		width: 90px;
		height: 165px;
		border: 4px solid #FFF;
	}

	&__img-calendar {
		background-color: #E74C3C;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 26px 28px;
	}

	&__pic-calendar {
		@extend %img;
	}

	&__date-calendar {
		background-color: #2A2A2A;
		text-align: center;
		padding: 10px 15px;
		& span {
			color: #FFF;
			font-size: 22px;
			font-weight: 700;
			line-height: 1.36;
		}
	}
}

// FACTS

.facts {
	padding-top: 50px;
	@include adaptiveValue('margin-bottom', 105, 50);

	&__container {
		max-width: 1144px;
		padding-inline: 15px;
		margin-inline: auto;
	}
	&__block {
		display: flex;
	}
	&__left {
		width: 67%;
		@media (max-width: 768px) {
			width: 100%;
		}
	}
	
	&__head {
		margin-bottom: 20px;
		@media (max-width: 768px) {
			display: flex;
			justify-content: space-between;
			gap: 20px;
		}
	}
	&__headline {
		width: 100%;
		@include adaptiveValue('margin-bottom', 54, 25);
		@media (max-width: 768px) {
		width: 55%;
		}
		@media (max-width: 768px) {
		width: 50%;
		}
	}
	&__title {
		margin-bottom: 15px;
		&::before {
			display: none;
		}
	}
	&__text {
		color: #8F8F8F;
		@include adaptiveValue('font-size', 16, 12);
		line-height: 1.68;
		@media (max-width: 400px) {
			line-height: 1.5;
		}
	}
	&__pic {
		display: none;
		@media (max-width: 768px) {
			display: inline-block;
			width: 45%;
		}
		@media (max-width: 576px) {
			display: inline-block;
			width: 45%;
		}
		@media (max-width: 450px) {
			display: inline-block;
			width: 50%;
		}
		& img {
			width: 100%;
			height: 100%;
			aspect-ratio: 335 / 532;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include adaptiveValue('gap', 30, 5);
	}

	&__item {
		display: flex;
		@include adaptiveValue('gap', 34, 5);
		justify-content: flex-start;
		align-items: flex-start;
	}

	&__icon {
		width: 45px;
		height: 50px;
		position: relative;
		@include adaptiveValue('top', 18, 5);
		@media (max-width: 576px) {
			width: 30px;
			height: 35px;
		}
	}

	&__number {
		position: relative;
		color: #2A2A2A;
		@include adaptiveValue('font-size', 70, 20);
		line-height: 1.2;
		margin-bottom: 25px;
		&::before {
			position: absolute;
			content: '';
			bottom: -10px;
			left: 0;
			width: 50px;
			height: 3px;
			background-color: #E74C3C;
		}
	}

	&__name {
		color: #2A2A2A;
		font-size: 14px;
		line-height: 1.22;
	}

	&__right {
		width: 33%;
		@media (max-width: 768px) {
			display: none;
		}
	}

	&__bg {
		@extend %img;
	}
}

// BRANDS

.brands {
	@include adaptiveValue('padding-block', 51, 30);
	background-color: #F7F7F7;

	&__container {
		max-width: 1188px;
		padding-inline: 15px;
		margin-inline: auto;
	}

	&__block {
		display: flex;
		justify-content: center;
		gap: 26px;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	&__item {
		width: 265px;
		min-height: 140px;
		border: 1px solid rgba(0, 0, 0, 0.35);
		padding: 10px;
	}

	&__img {
		@extend %img;
	}
}

// FOOTER

.footer {

	&__container {
		max-width: 1270px;
		padding-inline: 15px;
		margin-inline: auto;
	}

	&__head {
		@include adaptiveValue('padding-top', 104, 40);
		@include adaptiveValue('padding-bottom', 60, 20);
		background-color: #2A2A2A;
		height: 100%;
		text-align: center;
	}

	&__body {
		@include adaptiveValue('padding-block', 80, 40);
		background-color: #222;
	}

	&__cellar {
		@include adaptiveValue('padding-bottom', 35, 20);
		@include adaptiveValue('padding-top', 35, 20);
		background-color: #2A2A2A;
		.footer__container {
			display: flex;
		justify-content: space-between;
		align-items: flex-start;
		}
	}

	.head-footer {

		&__logo {
			width: 120px;
			@include adaptiveValue('margin-bottom', 34, 20);
		}

		&__text {
			color: #8F8F8F;
			font-size: 15px;
			line-height: 1.6;
			max-width: 717px;
			margin-inline: auto;
			@include adaptiveValue('margin-bottom', 34, 20);
		}

		&__socials {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 16px;
		}

		.socials {
			width: 35px;
			height: 35px;
			overflow: hidden;
			background-color: #3F3F3F;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.body-footer {

		&__list {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			@include adaptiveValue('gap', 40, 20);
			@media (max-width: 768px) {
				flex-wrap: wrap;
				row-gap: 30px;
			}
		}

		&__item-list {
			flex: 1 1 25%;
		}

		&__item-list:nth-child(2) {
			flex: 1 1 17%;
		}

		&__item-list:nth-child(3) {
			flex: 1 1 33%;
		}

		&__title-item {
			color: #FFF;
			font-size: 14px;
			font-weight: 700;
			line-height: 1.42;
			letter-spacing: 0.7px;
			margin-bottom: 20px;
			@media (max-width:992px) {
				text-align: center;
			}
		}

		& p {
			@include adaptiveValue('font-size', 14, 12);
		}

// GET IN TOUCH

		&__text-item,
		&__text-address,
		&__text-email,
		&__text-phone, 
		&__text-news, 
		&__date-news {
			color: #FFF;
			font-size: 14px;
			line-height: 1.42;
		}

		&__address-item,
		&__email-item,
		&__phone-item {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 12px;
		}

		&__text-item {
			margin-bottom: 38px;
		}

		&__address-item {
			margin-bottom: 16px;
		}

		&__icon-address,
		&__icon-email,
		&__icon-phone {
			width: 12px;
			height: 12px;
			overflow: hidden;
		}

		&__email-item {
			margin-bottom: 23px;
		}

// TAGS LIST

		&__tags-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			gap: 10px;
			column-gap: 12px;
			row-gap: 9px;
		}

		&__item-tags {
			flex-grow: 1;
			flex-shrink: 0;
			color: #8F8F8F;
			font-size: 10px;
			font-weight: 700;
			padding: 3px 10px;
			line-height: 1.8;
			letter-spacing: 0.5px;
			background-color: rgba(63, 63, 63, 0.79);
			text-align: center;
			@media (max-width: 768px) {
				width: 100%;
			}
		}

// NEWS

		&__news-list {
			display: flex;
			flex-direction: column;
			gap: 25px;
		}

		&__item-news {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-shrink: 0;
			@include adaptiveValue('gap', 26, 14);
			@media (max-width: 678px) {
				flex-direction: column;
				align-items: center;
				gap: 10px;
			}
		}

		&__img-news {
			flex-shrink: 0;
			width: 83px;
			height: 79px;
			overflow: hidden;
			aspect-ratio: 83 / 79;
		}

		&__pic-news {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&__text-news {
			margin-bottom: 8px;
		}

// STREAM

		&__stream-list {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 4px;
		}

		&__img-stream {
			flex-shrink: 0;
			width: 60px;
			height: 60px;
		}
	}

	.cellar-footer {
		& .footer__container {
			@media (max-width: 678px) {
				flex-wrap: wrap;
				justify-content: center;
				gap: 20px;
			}
		}

		&__list-menu {
			display: flex;
			justify-content: flex-start;
			gap: 15px;
			align-items: center;
			@media (max-width: 678px) {
				flex-wrap: wrap;
				justify-content: center;
				gap: 10px;
			}
		}

		&__link-menu {
			color: #F7F7F7;
			font-size: 12px;
			line-height: 1.16;
		}

		&__copyright {
			color: #FFF;
			font-size: 12px;
			line-height: 1.16;
		}
	}
}
